.outer_activity{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 90px;
}
.activity_title{
    text-align: center;
    font-weight: 400;
    color: #be2edd;
    font-family: sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 150px;
}
.trips{
    position: relative;
    width: 44%;
    margin-right: 28px;
}
.trip_img{
    width: 100%;
    height: 430px;
    border-radius: 5px;
    filter: brightness(90%);
    overflow: hidden;
    cursor: pointer;
}
.trip_img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.trip_img:hover img{
    transform: scale(1.2);
}
.trip_info{
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: transparent;
    width: 300px;
    height: 230px;
}
.trip_info p{
    font-size: 30px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.photo{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 19px;
    margin-top: -60px;
  }
  .photo p{
    color: rgb(95, 95, 95);
  }
  .ser_link{
    text-decoration: none;
    color: #be2edd;
    margin-left: 10px;
  }
@media screen and (max-width: 952px) {
    .outer_activity{
        flex-direction: column;
    }
    .trips{
        width: 80%;
        margin-bottom: 40px;
        margin-left: 2%;
    }
    .trip_img{
        height: 380px;
    }
}